<div class="container aboutContainer">
 <div> <h1> WHAT WE DO?</h1> <div (click)="sendMeHome()" class="backNavigation"><p>Go back to Home</p></div></div>
<div class="aboutContent">
 <p>
    Kozhikode or Calicut, is a city in Kerala, India on the Malabar Coast. Kozhikode metropolitan area is the largest urban agglomeration in Kerala and the 185th largest urban agglomeration in the World. The city lies about 250 kms west of Bangalore, 235 kms south of Mangalore and 525 kms northwest of Chennai.
</p>
<p>
    On 7 June 2012, Kozhikode was given the tag of "City of Sculptures" (Shilpa Nagaram) because of the architectural sculptures around the city.[15][16] According to data compiled by economics research firm Indicus Analytics on residences, earnings and investments, Kozhikode ranked as the second best city in India to reside in. It was ranked eleventh among Tier-II Indian cities in job creation by a study conducted by ASSOCHAM in 2007.
</p>
<p>
    Kozhikode or Calicut, is a city in Kerala, India on the Malabar Coast. Kozhikode metropolitan area is the largest urban agglomeration in Kerala and the 185th largest urban agglomeration in the World. The city lies about 250 kms west of Bangalore, 235 kms south of Mangalore and 525 kms northwest of Chennai.
</p>
<p>
    On 7 June 2012, Kozhikode was given the tag of "City of Sculptures" (Shilpa Nagaram) because of the architectural sculptures around the city.[15][16] According to data compiled by economics research firm Indicus Analytics on residences, earnings and investments, Kozhikode ranked as the second best city in India to reside in. It was ranked eleventh among Tier-II Indian cities in job creation by a study conducted by ASSOCHAM in 2007.
</p>
<p>
    Kozhikode or Calicut, is a city in Kerala, India on the Malabar Coast. Kozhikode metropolitan area is the largest urban agglomeration in Kerala and the 185th largest urban agglomeration in the World. The city lies about 250 kms west of Bangalore, 235 kms south of Mangalore and 525 kms northwest of Chennai.
</p>
<p>
    On 7 June 2012, Kozhikode was given the tag of "City of Sculptures" (Shilpa Nagaram) because of the architectural sculptures around the city.[15][16] According to data compiled by economics research firm Indicus Analytics on residences, earnings and investments, Kozhikode ranked as the second best city in India to reside in. It was ranked eleventh among Tier-II Indian cities in job creation by a study conducted by ASSOCHAM in 2007.
</p>
<p>
    Kozhikode or Calicut, is a city in Kerala, India on the Malabar Coast. Kozhikode metropolitan area is the largest urban agglomeration in Kerala and the 185th largest urban agglomeration in the World. The city lies about 250 kms west of Bangalore, 235 kms south of Mangalore and 525 kms northwest of Chennai.
</p>
<p>
    On 7 June 2012, Kozhikode was given the tag of "City of Sculptures" (Shilpa Nagaram) because of the architectural sculptures around the city.[15][16] According to data compiled by economics research firm Indicus Analytics on residences, earnings and investments, Kozhikode ranked as the second best city in India to reside in. It was ranked eleventh among Tier-II Indian cities in job creation by a study conducted by ASSOCHAM in 2007.
</p>
<p>
    Kozhikode or Calicut, is a city in Kerala, India on the Malabar Coast. Kozhikode metropolitan area is the largest urban agglomeration in Kerala and the 185th largest urban agglomeration in the World. The city lies about 250 kms west of Bangalore, 235 kms south of Mangalore and 525 kms northwest of Chennai.
</p>
<p>
    On 7 June 2012, Kozhikode was given the tag of "City of Sculptures" (Shilpa Nagaram) because of the architectural sculptures around the city.[15][16] According to data compiled by economics research firm Indicus Analytics on residences, earnings and investments, Kozhikode ranked as the second best city in India to reside in. It was ranked eleventh among Tier-II Indian cities in job creation by a study conducted by ASSOCHAM in 2007.
</p>
<p>
    Kozhikode or Calicut, is a city in Kerala, India on the Malabar Coast. Kozhikode metropolitan area is the largest urban agglomeration in Kerala and the 185th largest urban agglomeration in the World. The city lies about 250 kms west of Bangalore, 235 kms south of Mangalore and 525 kms northwest of Chennai.
</p>
<p>
    On 7 June 2012, Kozhikode was given the tag of "City of Sculptures" (Shilpa Nagaram) because of the architectural sculptures around the city.[15][16] According to data compiled by economics research firm Indicus Analytics on residences, earnings and investments, Kozhikode ranked as the second best city in India to reside in. It was ranked eleventh among Tier-II Indian cities in job creation by a study conducted by ASSOCHAM in 2007.
</p>
</div>
</div>