/* You can add global styles to this file, and also import other style files */
body {
    background:#b8c0b6  !important;
    padding: 1em;
    font-family: 'Dosis', 'Arial';
    color:#fff;
}
.container {
    width:100%;
}
$themeColor : '#c0c0c0';
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li {
    display:inline;
    margin-right: 40px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#c42828;
    text-decoration:none;
}
.headerUl {
    width:60%;
    height:40px;
    float:right;

}
textarea{
    resize: none;
}
